body,
p,
ul {
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--background-color-3);
  background-color: rgba(200, 200, 200, 0.8);
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--background-color);
  background-color: rgba(160, 160, 160, 0.3);
}
